HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Logs y archivos temporales de Supabase
supabase/docker/volumes/logs/
supabase/docker/volumes/temp/
supabase/docker/volumes/storage/
supabase/docker/volumes/api/
# Por si acaso hay algún node_modules escondido
**/node_modules/